	/**********************************************
	* 			   School Color Theme       	  *
	**********************************************/
	
	/* Typography */
	
	h1 {font-size: 36px;}
	h2 {font-size: 32px;}
	h3 {font-size: 28px;}
	h4 {font-size: 24px;}
	h5 {font-size: 20px;}
	h6 {font-size: 18px;}

	a {
		color: #6091ba; 
		text-decoration: none;
	}
	
	a:hover { 
		color: #0D437F !important;
	}
	
	a:active { 
		color: #6091ba !important;
	}
	
	a:visited { 
		color: #6091ba !important;
	}
	
	h1 a, 
	h2 a, 
	h3 a, 
	h4 a, 
	h5 a, 
	h6 a {
		color: #6091ba;
	}
	
	h1 a:active, 
	h2 a:active,  
	h3 a:active, 
	h4 a:active, 
	h5 a:active, 
	h6 a:active { 
		color: #6091ba !important; 
	} 
	
	h1 a:visited, 
	h2 a:visited,  
	h3 a:visited, 
	h4 a:visited, 
	h5 a:visited, 
	h6 a:visited { 
		color: #6091ba !important; 
	} 
	
	
	.header {
		background: #6091ba;
	}
	
	.footer {
		background: #444444;
	}
	.disclaimer {
		background: #f2f2f2;
	}

	/*Button Colors */
	table.theme.button td,
	table.theme.tiny-button td,
	table.theme.small-button td,
	table.theme.medium-button td,
	table.theme.large-button td {
		background: #6091ba;
		border: 1px solid #2f506c; /*make a darker shade*/
		color: #ffffff;
		padding: 8px 0;
	}

	table.theme.button:hover td,
	table.theme.button:visited td,
	table.theme.button:active td {
		background: #2f506c !important;
	}
	
	table.theme.button:hover td,
	table.theme.tiny-button:hover td,
	table.theme.small-button:hover td,
	table.theme.medium-button:hover td,
	table.theme.large-button:hover td {
		background: #2f506c !important;
	}
	
	.panel-theme {
		background: #6091ba;
		border: 1px solid #2f506c;
		padding: 10px !important;
		color:#ffffff;
	}
	.panel-theme h1,
	.panel-theme h2,
	.panel-theme h3,
	.panel-theme h4,
	.panel-theme h5,
	.panel-theme h6,
	.panel-theme p,
	.panel-theme p a{
		color:#ffffff;
	}

	/* Added in OU Classes */
	h1, h2, h3, h4, h5, h6,
	.theme-color-highlight {
		color:#6091ba;
	}
	.black {
		color:#3D3D3B;
	}
	.date {
		color:#6091ba;
		font-size:18px;
		text-align:right;
	}
